body {
  background-color: #F0FFFF; /" Warna Azure "/
  font-family: Arial, sans-serif;
  color: #191970;
}
.kartu-profil {
  width:300px;
  margin:50p auto: /* 50px jarak atas/bawah, auto menengahkan kiri/kanan */
  padding: 20px:
  background-calor: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
}
.kartu-profil img {
  width: 150px;
  border-radius: 50%; 
